In [1]:
import pandas as pd
pd.options.display.float_format ='${:,.0f}'.format

In [2]:
nc = pd.read_csv('input/consolidado_nc.csv')

In [4]:
nc['Xtipificacion'].unique()

array(['CAMBIO X TALLA', 'DEV PRODUCTO TROCADO', 'DEV X TALLA',
       'DEV PRODUCTO INCOMPLETO', 'ERROR DE FACTURACION', 'DEV X COLOR',
       'INCUMPLI ENTREGA', 'CAMBIO PRODUC DAÑADO', 'CAMBIO X COLOR',
       'CAMBIO X GUSTO', 'DEV PRODUCTO DAÑADO / CALIDAD', 'DEV X GUSTO',
       'DEVOLUCION X FRAUDE', 'Otros', 'Devolucion de producto', nan,
       'SE CREA NUEVO F12', 'Devolucion por error',
       'CAMB X OTRO PRODUCTO', 'otros', 'DEV GAR EXTENDIDA',
       'Devolucion garantia extendida', 'Cambio por otro producto',
       'DOBLE REGISTRO POS', 'PRUEBAS FALABELLA', 'CAMB PRODUC TROCADO',
       'CAMB PRODUC INCOMPLETO', 'PREVENTAS',
       'Cambio por venta compartida', 'BOLETA SIN MED PAGO',
       'Cambio garantia extendida', 'IND TRANSPORTADORA', 'Cambio de SKU',
       'DEV X GARANTIA', 'DEV X SIN STOCK', 'DEV X PRODUCTO FALTANTE'],
      dtype=object)

In [ ]:
['CAMBIO X TALLA',
'DEV PRODUCTO TROCADO',
'DEV X TALLA',
'DEV PRODUCTO INCOMPLETO',
'ERROR DE FACTURACION',
'DEV X COLOR',
'INCUMPLI ENTREGA',
'CAMBIO PRODUC DAÑADO',
'CAMBIO X COLOR',
'CAMBIO X GUSTO',
'DEV PRODUCTO DAÑADO / CALIDAD',
'DEV X GUSTO',
'DEVOLUCION X FRAUDE',
'Otros',
'Devolucion de producto',
nan,
'SE CREA NUEVO F12',
'Devolucion por error',
'CAMB X OTRO PRODUCTO',
'otros',
'DEV GAR EXTENDIDA',
'Devolucion garantia extendida',
'Cambio por otro producto',
'DOBLE REGISTRO POS',
'PRUEBAS FALABELLA',
'CAMB PRODUC TROCADO',
'CAMB PRODUC INCOMPLETO',
'PREVENTAS',
'Cambio por venta compartida',
'BOLETA SIN MED PAGO',
'Cambio garantia extendida',
'IND TRANSPORTADORA',
'Cambio de SKU',
'DEV X GARANTIA',
'DEV X SIN STOCK',
'DEV X PRODUCTO FALTANTE']

In [3]:
nc.Dcompra_nvo = nc.Dcompra_nvo.str.replace('ene', '01')
nc.Dcompra_nvo = nc.Dcompra_nvo.str.replace('feb', '02')
nc.Dcompra_nvo = nc.Dcompra_nvo.str.replace('mar', '03')
nc.Dcompra_nvo = nc.Dcompra_nvo.str.replace('abr', '04')
nc.Dcompra_nvo = nc.Dcompra_nvo.str.replace('may', '05')
nc.Dcompra_nvo = nc.Dcompra_nvo.str.replace('jun', '06')
nc.Dcompra_nvo = nc.Dcompra_nvo.str.replace('jul', '07')
nc.Dcompra_nvo = nc.Dcompra_nvo.str.replace('ago', '08')
nc.Dcompra_nvo = nc.Dcompra_nvo.str.replace('sep', '09')
nc.Dcompra_nvo = nc.Dcompra_nvo.str.replace('oct', '10')
nc.Dcompra_nvo = nc.Dcompra_nvo.str.replace('nov', '11')
nc.Dcompra_nvo = nc.Dcompra_nvo.str.replace('dic', '12')
nc.Dcompra_nvo = pd.to_datetime(nc.Dcompra_nvo, format='%d-%m-%Y')

In [4]:
nc['Mventa_nc'] = abs(nc['Mventa_nc'].astype(float))

In [5]:
nc_ago = nc.loc[(nc['Dcompra_nvo'] >= '2022-08-01') & (nc['Cautoriza'] == 10009)]

In [6]:
nc_ago.groupby('Desc_local').agg({'Cautoriza':'count', 'Mventa_nc':'sum'}).reset_index().sort_values(by = 'Cautoriza', ascending=False)

                Desc_local  Cautoriza   Mventa_nc
3                 CARACOLI          7  $4,455,480
9          PARQUE ARBOLEDA          7    $480,934
7                 FONTANAR          4    $319,960
4              DIVER PLAZA          3  $2,213,882
0                  ARKADIA          2     $44,980
2                  CACIQUE          2     $59,980
5              EL CASTILLO          2  $2,299,901
10               SAN DIEGO          2    $239,980
11                SANTA FE          2    $250,382
1               BUENAVISTA          1    $132,993
6   FALABELLA. COM ALTERNO          1 $13,299,905
8             LA FELICIDAD          1     $84,990
12                   TITAN          1    $147,053

In [7]:
nc_ago.to_excel('220901_nc_cm.xlsx', index = False)